{% extends "base.html" %}
{% load static %}

{% block title %}
    Overview
{% endblock %}

{% block content %}
    <div class="content">
    <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
        <div class="title-group mb-3">
            <h1 class="h2 mb-0">Overview</h1>

            <small class="text-muted">Analysis</small>
        </div>

        <div class="custom-block custom-block-balance">
            <h5 class="mb-4">Weather Forecast</h5>
            <iframe src= "https://www.tmd.go.th/en/weatherForecast7DaysWidget?province=Bangkok" height="400" width="814" scrolling="no" frameborder="0"></iframe>
            <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center z-5">
                    <div>
                        <p>Weather Condition</p>
                        <h6>(0 = Partly Cloudy)</h6>
                    </div>
                </div>

                <div class="ms-auto me-4">
                    <img src="https://www.tmd.go.th/CustomTheme3/icons/icon-forecast/3d.svg" alt="Partly-Cloudy">
                </div>
            </div>

            <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center">
                    <div>
                        <p>Temperature</p>
                        <h6>(°C)</h6>
                    </div>
                </div>

                <div class="ms-auto me-4">
                    <h6>27.25</h6>
                </div>
            </div>

            <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                <div class="d-flex align-items-center">
                    <div>
                        <p>Humidity</p>
                        <h6>(%)</h6>
                    </div>
                </div>

                <div class="ms-auto me-4">
                    <h6>23.47</h6>
                </div>
            </div>
        </div>


        <div class="row my-4">
            <div class="col-lg-7 col-12">
                <div class="custom-block bg-white">
                    <h5 class="mb-4">History Material Usages</h5>

                    <div id="pie-chart"></div>
                </div>

                <div class="custom-block bg-white">
                    <div id="chart"></div>
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <div class="custom-block custom-block-exchange">
                    <h5 class="mb-4">Statistical Summary</h5>

                    <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                        <div class="d-flex align-items-center">
                            <div>
                                <p>Average Temperature</p>
                                <h6>(°C)</h6>
                            </div>
                        </div>

                        <div class="ms-auto me-4">
                            <h6>{{ avg_temp }}</h6>
                        </div>
                    </div>

                    <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                        <div class="d-flex align-items-center">
                            <div>
                                <p>Average Humidity</p>
                                <h6>(%)</h6>
                            </div>
                        </div>

                        <div class="ms-auto me-4">
                            <h6>{{ avg_rh }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </div>
{% endblock %}